<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="Student" class="com.pojo.Student">
		<property name="name" value="Maverick.liu"/>
		<property name="add" value="China"/>
	</bean>
	
	<bean id="StudentService" class="com.service.StudentService">
		<property ref="Student"/>
	</bean>
</beans>